.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    height: 450px;
    border-radius: 6px;
    margin: 10% 25%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.personal-details {
    padding: 30px;
}

.container header{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-color: #1b1b1b;
    border-radius: 6px 6px 0 0;
    color: #fff;
    padding: 20px;
}

.container form{
    position: relative;
    margin-top: 16px;
    height: 350px;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 14px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 16px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

.buttons {
    position: relative;
    align-items: center;
    height: 45px;
    width: 400px;
    margin: auto;
    margin-top: 25px;
}

/* updatePageUpdateCustomer */
input .delete-account {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: tomato;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.wrapper-account {
    width: 380px;
    height: 650px!important;
    margin: auto;
    margin-top: 100px;
    padding: 40px 30px 100px 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}

.wrapper-account header{
    font-size: 35px;
    font-weight: 600;
}
.wrapper-account form{
    margin: 40px 0;
}

.wrapper-account a{
    color: #5372F0;
    text-decoration: none;
}

.wrapper-account a:hover{
    text-decoration: underline;
}

.confirm-field {
    width: 75%;
    padding: 0 10px;
    /*margin: 10% auto;*/
    background-color: #7EBD2F;
    text-align: center;
    color: white;
}

.username-delete {
    color: #ff2305;
}

.account-div {
    display: inline-block!important;
}

.acc-td {
    padding: 5px;
}

.delete-input-account {
    height: 50px; 
    width: 150px; 
    background: #ff2305; 
    color: white; 
    cursor: pointer;
}

.delete-input-account:hover {
    background: #c41b04;
}

.account-delete-button:hover {
    text-decoration: none;
    background: #c41b04!important;
}

.account-home-button:hover {
    text-decoration: none!important;
    background: black;
}

.account-dashboard-button:hover {
    text-decoration: none!important;
    background: black;
}

.account-delete-link:hover {
    text-decoration: none!important;
    background: #c41b04;
}

.update-input-account {
    height: 50px; 
    width: 100px!important; 
    background: #5372F0; 
    color: white; 
    margin-bottom: 30px;
}

.delete-button {
    padding: 20px;
    background: #ff2305;
}

.updateCustomerError {
    color: red;
}