.search-box {
  position: relative;
  height: 76px;
  max-width: 600px;
  width: 100%;
  background: #fff;
  margin-left: 35%;
  margin-top: 100px;
  
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.search-box i,
.search-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.search-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.search-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .search-box {
    height: 66px;
    margin: 0 8px;
  }
  .search-box i {
    left: 12px;
    font-size: 25px;
  }
  .search-box input {
    padding: 0 112px 0 50px;
  }
  .search-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}
